/* Page layout */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.whole {
    display: grid;

    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 0.8fr 4fr 1.3fr;
    grid-template-areas:
        "header header header"
        "toolbar canvas palette"
        "tree canvas palette";

    gap: 10px;
}

.header {
    grid-area: header;
}

.panel {
    padding: 5px;
}

.toolbar {
    grid-area: toolbar;

    display: inline-grid;
    grid-template-rows: repeat(auto-fill, minmax(20px, 50px));
    grid-template-columns: repeat(3, 1fr);

    gap: 3px;
}

.tree {
    grid-area: tree;
}

.palette {
    grid-area: palette;
}

.canvas-container {
    grid-area: canvas;

    overflow: auto;
}

.canvas-container > svg {
    border: 1px solid #ced4da;
}

/* Icons */

.icon {
    width: 20px;
    height: 20px;
}

.logo-icon {
    width: 30px;
    height: 30px;
}

/* Buttons */

.panel-button {
    background-color: #f8f9fa;
    border: none;
}
.panel-button:hover {
    background-color: #dee2e6;
}
