main {
    margin: 0.2%;
}

nav {
    margin-bottom: 3px;
}

#work-area {
    border: 1px solid #dee2e6;
}

#status-text {
    font-size: 12px;
    color: #6c757d;
}

.robic-button-group .robic-button {
    background-color: #f8f9fa;
    border-right: none;
    margin: 0.2%;
}

.robic-button-active,
.robic-button:active {
    box-shadow: none;
}

.robic-button-hover,
.robic-button:hover,
.robic-button:focus {
    background-image: none;
    background-color: #dee2e6;
}

.icon {
    width: 20px;
    height: 20px;
}

.logo-icon {
    width: 30px;
    height: 30px;
}
