nav {
    margin-bottom: 3px;
}

.robic-button-group .robic-button {
    background-color: #edf2fb;
    border-right: none;

    margin: 2px;
}

.robic-button-active,
.robic-button:active {
    box-shadow: none;
}

.robic-button-hover,
.robic-button:hover,
.robic-button:focus {
    background-image: none;
    background-color: #e2eafc;
}
